<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To Do Application</title>
</head>
<body>
    <div style="text-align: center">
        <h1>To Do Application</h1>
        <h3>Создавайте, правте, удаляйте задачи.</h3>
        <h3>Управляйте своим временем.</h3>
        <br>
        <p>
            <a href="/tasks"><button>Список задач</button></a>
            <a href="/tasks/new"><button>Создать задчу</button></a>
        </p>
    </div>
</body>
</html>